* {
  margin: 0;
  padding: 0;
}

nav {
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 0.2em 1em;
}

.logo {
  font-family: "Pilcrow Rounded";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #00b4d8;
  margin-left: 50px;
}
.logo > span {
  font-family: "Pilcrow Rounded";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #1e0b94;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 32px;
  color: #353434;
  align-items: center;
  margin-left: 350px;
}
input {
  border: none;
  width: 100%;
  outline: none;
}
li {
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  padding: 0.2em;
  border-width: 0 0 6px 0;
  border-style: solid;
  border-color: white;
}
li:hover {
  border-color: #4434a6;
  cursor: pointer;
}

header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 58px;
  left: 100px;
  right: 100px;
  top: 160px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 600;
  font-size: 3em;
  color: #4334a6;
}
.httpBearer {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 170px;
  margin-left: 122px;
  margin-right: 122px;
  top: 246px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  color: #0c0b0b;
}

h3 {
  font-size: 36px;
}

.documentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 847px;
  height: 66px;
  left: 122px;
  top: 432px;
  margin-bottom: 50px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
}
p {
  margin-top: 16px;
}
.buttons {
  position: absolute;
  margin-top: 700px;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  left: 122px;
  margin-bottom: 64px;
}

.download {
  padding: 12px 16px 12px 16px;
  width: 160px;
  background: #1e0b94;
  border-radius: 12px;
  margin-right: 20px;
  color: white;
  border: none;
}
.download:hover {
  background-color: #4434a6;
}
.download:focus {
  background-color: #0a0431;
}
.download:disabled {
  background-color: #5d5c5c;
}

.viewExample {
  width: 160px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border-color: #00b4d8;
  padding: 12px 16px 12px 16px;
  background-color: white;
  color: #00b4d8;
}

.viewExample:hover {
  color: #005a6c;
  border-color: #005a6c;
}
.viewExample:focus {
  color: #00242b;
  border-color: #00242b;
}
.viewExample:disabled {
  color: #5d5c5c;
  border-color: #5d5c5c;
}
.icons {
  display: flex;
  gap: 15px;
  /* position: absolute; */
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  margin-top: 700px;
  margin-left: 873px;
  margin-bottom: 64px;
}

/* #likes {
  position: absolute;
  top: 785px;
  bottom: 0;
  left: 873px;
}

#comments {
   position: absolute;
   bottom: 0;
  top: 785px;
  margin-left: 979px;
  margin-right: 141px;
}

#downloads {
  position: absolute;
  top: 785px;
  bottom: 0;
  left: 1125px;
} */

.iconTxt {
  font-size: 16px;
}
