


/* body */

body{
  font-family: 'Hind', sans-serif
}

/* nav section */
.logo {
  color:#00B4D8;
}
.logo>span{
  color:#1E0B94;
}
.nav-section{
  margin: 2% 5% 0;
  font-size: 25px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em 1em 0;
}
nav a{
  color: black;
  margin: 0 10px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 2em;
    color: #353434;
    align-items: center;
}
.search-bar{
    border: 1px solid grey;
    display: flex;
    align-items: center;
    padding: 0.5em;
    width: 300px;
    justify-content: space-between;
    border-radius: 5px;;
    gap: 2px;

}
input{
    border: none;
    width: 100%;
    outline: none;

}
li{
    padding: 0.2em;
    border-width: 0 0 6px 0 ;
    border-style:solid ;
    border-color:white;
}
li:hover{
    border-color: #4434A6;
    /* padding-bottom: 0.1em; */
    cursor: pointer;

}
li:active{
  border-bottom: 7px solid #4434A6;
}
.get-started{
    padding: 0.3em 1.5em;
    color: #FFFFFF;
    background: #4434A6;
    border-radius: 12px;
}

/* h1, h2, h3, h4, h5, h6 */

h1{
  text-align: center;
  color: #4434A6;
  font-size: 40px;
}
h3 {
  margin: 20px 0;
  font-size: 24px;
}
h5{
  color: #4434A6;
  font-size: 24px;
}
p{
  font-family: 'Hind', sans-serif
}

a{
  text-decoration: none;
  cursor: pointer;
}
hr{
  margin-top: 0;
}

/* library card */

.card{
  width: 86%;
  margin: 3% 7% 0;
  border-radius: 8px;
  background-color: #D3CEDF;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
}
.card-body{
  margin: 1rem;
  padding: 1rem;
}
.card-title{
  margin-bottom: 0.75rem;
}

/* library card2 */

.card2{
  margin: 3% 7% 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}

/* icons */

.icon{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  position: relative
}
.download{
  cursor: pointer;
}
.like{
  margin-left: 80%;
  cursor: pointer;
}
.dislike{
  margin-left: 1%;
  cursor: pointer;
}
.favorite{
  margin-left: 40%;
  cursor: pointer;
}
.comment{
  margin-left: 1%;
  cursor: pointer;
}
.content_copy{
  margin-left: 1%;
  cursor: pointer;
}

/* buttons */

.library-button{
  background-color: #4434A6;
  margin: 0 1% 0 0;
  cursor: pointer;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  border: none;
  width: 200px;
}
input{
  background-color: inherit;
}
