* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  background-image: url(images/backgroundimage.png);
  background-size: cover;
  background-position: center center;
}

nav {
  margin-top: 40px;
  display: flex;
  align-items: center;
  padding: 0.2em 1em;
}

.logo {
  font-family: "Pilcrow Rounded";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #00b4d8;
  margin-left: 50px;
}
.logo > span {
  font-family: "Pilcrow Rounded";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #1e0b94;
}
ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 32px;
  color: #353434;
  align-items: center;
  margin-left: 400px;
}
input {
  border: none;
  width: 100%;
  outline: none;
}
li {
  text-decoration: none;
}
li {
  text-decoration: none;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  padding: 0.2em;
  border-width: 0 0 6px 0;
  border-style: solid;
  border-color: white;
}
li:hover {
  border-color: #4434a6;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: #353434;
}

.hamburger-menu {
  display: none;
}

p {
  font-family: "Hind";
  font-style: normal;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  color: #1e0b94;
  width: 725px;
  height: 154px;

  text-align: center;
  margin-left: 300px;
  text-align: center;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Hind";
  font-style: normal;
  font-weight: 400;
  gap: 10px;
}

.download {
  padding: 12px 16px 12px 16px;
  width: 360px;
  height: 50px;
  background: #1e0b94;
  border-radius: 12px;
  color: white;
  border: none;
}
.download:hover {
  background-color: #4434a6;
}
.download:focus {
  background-color: #0a0431;
}
.download:disabled {
  background-color: #5d5c5c;
}

.viewExample {
  width: 360px;
  height: 50px;
  border-radius: 12px;
  border-color: #00b4d8;
  padding: 12px 16px 12px 16px;
  background-color: white;
  color: #00b4d8;
}

.viewExample:hover {
  color: #005a6c;
  border-color: #005a6c;
}
.viewExample:focus {
  color: #00242b;
  border-color: #00242b;
}
.viewExample:disabled {
  color: #5d5c5c;
  border-color: #5d5c5c;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
img {
  height: 133px;
  width: 133px;
}

@media screen and (max-width: 900px) {
  body {
    width: auto;
    background-image: none;
  }
  .logo,
  span {
    font-size: 24px;
    margin-top: -20px;
    margin-left: 2px;
  }
  .logo > span {
    font-size: 24px;
  }
  ul {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .hamburger-menu img {
    height: 10px;
    width: 18px;
    position: absolute;
    left: 90.5%;
    top: 5%;
  }
  hr {
    display: none;
  }
  .icons {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  img {
    height: 83px;
    width: 83px;
  }
  p {
    width: auto;
    font-size: 24px;
    height: 58px;
    margin-left: 0px;
  }
  .buttons {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .download,
  .viewExample {
    width: 320px;
    height: 44px;
  }
}
