

*{
/*border: 0;*/
/* margin: 0; */
padding: 0;
box-sizing: border-box;
}
body{
/* background: white; */

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2em 1em;
    font-family: 'Hind Guntur', sans-serif;
  }
  .logo {
    color:#00B4D8;
  }
  .logo>span{
    color:#1E0B94;
  }
  ul{
    list-style-type: none;
    display: flex;
    gap: 2em;
    color: #353434;
    align-items: center;
  }
  .navinput{
    border: none;
    width: 100%;
    outline: none;
    
  }
  li{
    padding: 0.2em;
    border-width: 0 0 6px 0 ;
    border-style:solid ;
    border-color:white;
  }
  li:hover{
    border-color: #4434A6;
    /* padding-bottom: 0.1em; */
    cursor: pointer;
    
  }
  nav .get-started{
    padding: 0.3em 1.5em;
    color: #FFFFFF;
    background: #4434A6;
    border-radius: 12px;
  }
  .hamburger-menu{
    display: none;
  }
  
  @media screen and (max-width: 900px){
    .search-bar{
        display: none;
    }
  
    nav .get-started{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    nav ul{
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        right: 1em;
        padding: 1.2em 0;
        border-radius: 0.3em;
        box-shadow: 0 0 4px black;
        width: 11em;
        
    }
    .show-ul{
        display: flex;
    }
    li{
        width: 100%;
        padding: 0.5em 1.2em;
        border: none;
    }
    li:hover{
        background: grey;
        
    }
  }
.container{
 background:#fff url("./images/signup_image.png") no-repeat center/cover;

}
.section-1 .left-part-1 p{
    margin-top: 1rem;
}

h3{
color: blue;
}
p .span-1{
    font-family: 'Pilcrow Rounded';
    color:#1E0B94;

}
h3 .span-2{
    font-family: 'Pilcrow Rounded';
    color: #00B4D8;
}
h3 .span-1{
    font-family: 'Pilcrow Rounded';
    color: #1E0B94;
}
p .span-2{

        font-family: 'Pilcrow Rounded';
        color: #00B4D8;
}
.head{
font-weight: bold;
color: blue;
margin-bottom: 1rem;
}
.section-1{
padding:1rem;
display: flex;
}
.section-1 > *{
margin-bottom:2rem;
flex-basis:48%;
}
.right-part1 img{
width:100%;
}


.section-2{
padding:1rem;
display: flex;
}
.section-2 > *{
margin-bottom:2rem;
flex-basis:48%;
}
.right-part-2 img{
    width: 100%;
}


.section-3{
    padding:1rem;
    display: flex;
    justify-content:space-between ;
}
.section-3 > *{
    margin-bottom:2rem;
    flex-basis:48%;
    }
.left-part-3 img{
    width: 100%;
}

.section-4{
padding:1rem;
display: flex;
}
.section-4 > *{
margin-bottom:2rem;
flex-basis:48%;
}
.right-part-4 img{
    width: 100%;
}

.anchor{
padding: 0.5rem;
border-radius: 0.5rem;
width: 10rem;
border: 1px solid #00B4D8;
color: #00B4D8;
display:  block;
text-decoration: none;
margin-top: 1rem;
text-align: center;

}
.anchor:hover{
background-color: blue;
}
.section-1 .left-part1 span{
    color: blue;
}


/*Tablet Device  and mobile*/
@media(min-width:650px){
.section-1{
display:flex;
flex-flow:row wrap;
align-items:center;
gap:4%;
}
.section-1 > *{
flex-basis:48%;
}


.section-2{
display:flex;
flex-flow:row wrap;
align-items:center;
gap:4%;
}
.section-2 > *{
flex-basis:48%;
}

.section-3{
display:flex;
flex-flow:row wrap;
align-items:center;
gap:4%;
}
.section-3 > *{
flex-basis:48%;
}
.left-part-1 h2{
    font-size: 2rem;
}
.left-part-2 h3{
    font-size: 2rem;
}
.right-part-3 h3{
    font-size: 2rem;
}
.left-part-4 h3{
    font-size: 2rem;
}

.section-4{
display:flex;
flex-flow:row wrap;
align-items:center;
gap:4%;
}
.section-4 > *{
flex-basis:48%;
}
}

.first_flex h2{
    color: #1E0B94;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Hind', sans-serif;
    margin: 10px auto;
}

.first_flex{
    display: flex;
    flex-direction: column;
}
.sub_first_flex{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.first_icon{
    width: 120px;
    height:91.92px;
}

.hide{
    display: none;
}

.second_icon{
    width: 90px;
    height: 90px;
}

.third_icon{
    width: 98px;
    height: 98px;
}

.jointxt{
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
    line-height: 16.8px;
    margin-bottom: 20px;
}
span.auth{
    color: #1E0B94;
    font-style: normal;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
}

span.wiki{
    color: #00B4D8;
    font-style: normal;
    font-weight: 500;
    font-family: 'Hind', sans-serif;    
}

.codesamp{
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
    text-align: center;
    width: 120px;
    word-wrap: break-word;  
}

.right_1{
    position: relative;
    left: 110px;
    bottom: 10px;
}

.right_2{
    position: relative;
    left: 70px;
}

.fourth_icon{
    width: 130px;
    height: 130px;
}

div.enjoy{
    display: flex;
    justify-content: center;
}

.second_flex h2{
    text-align: center;
    color: #4434A6;
    margin-top: 5px;
    font-weight: 600 ;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    line-height: 24px;
}


.third_flex{
    margin: 60px auto;
    display: flex;
    flex-direction: column; 
}

.maintxt{
    text-align: center;
    color: #1E0B94;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
    margin-bottom: 10px;

}

.auth_code{
    width: 252px;
    height: 140px;
    border: 2px;
    border-style: solid;
    border-color: grey;
    margin-left: 20px;
    padding-right: 10px;
}

.auth_codes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}
.ico{
    width: 10px;
    height: 10px;
}

.nums{
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
    justify-content: center;
    gap: 10px;
}

.auth_codes h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 16.2px;
    color: #1E0B94;
    margin: 10px 0px 10px 10px;
    font-family: 'Hind', sans-serif;
    width: 158px;
}

.auth_codes p{
    font-size: 14px;
    font-weight: 500;
    line-height: 13.8px;
    color: #0C0B0B;
    font-family: 'Hind', sans-serif;
    width: 170px;
    margin: 0px 0px 30px 10px;
}

.auth_codes h4{

    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #0C0B0B;
    font-family: 'Hind', sans-serif;
}

.down1{
    position: relative;
    left: 7px;
    top: 1px;   
}

.thumb1{
    position: relative;
    left: 7px;
    top: 1px;
}

.thumb2{
    position: relative;
    top: 1px;
    left: 7px;
}

.fourth_flex{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    justify-content: center;
    

}

.dev_test{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0 auto;
    
}
.dev_test img{
    padding: 10px;
}

.dev_text1,
.dev_text2{
    width: 151px;
    height: 144px;
    font-size: 12px;
    padding: 10px;
    text-align: justify;
}

.fifth_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.bolded{
    font-weight: 600;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

}
.steal{
    display: none;}

/*@media(min-width: 425px){
    .thisdiv{
        margin-left: 20px;
    }

    .first_flex{
        margin-bottom: 20px;
    }
    .adj{
        margin-top: 50px;
        margin-right: 10px;
    }
    .adj .right2{
        position: relative;
        left: 20px;
    }

}

@media(min-width: 768px){
    .first_flex{
        width: 100vw;
    }
    .sub_first_flex{
        margin: 0 auto;
    }
    .sub_first_flex img.first_icon,
    .sub_first_flex img.second_icon,
    .sub_first_flex img.third_icon{
        width: 80%;
        height: 60%;
    }

     .fourth_icon{
        width: 40%;
        height: 20%;
     }

    .right_1, .right_2{
        width: 20%;
        height: 10%;
    }

    .right_1{
        position: relative;
        top: 50px;
    }

    .right_2{
        position: relative;
        left: 150px;
        width: 48.6px;
        height: 48.6px;
    }
    .adj{
        margin-top: 100px;
        margin-right: 50px;
    }

*/

@media(min-width: 1360px){

    .first_flex{
        margin:  30px auto;
    }
    
    body .first_flex h2{
        font-size: 64px;
        text-align: center;
        margin-left: 400px;

    }
    .sub_first_flex .first_icon,
    .sub_first_flex .second_icon,
    .sub_first_flex .third_icon, .second_flex .fourth_icon{
        width:200px;
        height: 200px;

    }

    .div_king{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;

    }

    .hide{
        display: block;
        position: relative;
        left: 250px;
    }

    .enjoy{
        position: relative;
        top: 170px;
        right: 120px;
        font-weight: 500;
    }

    .sub_first_flex h3{
        font-size: 32px;
    }

    .third_icon{
        position: relative;
        left: 60px;
        top: 40px;
    }

    .first_icon{
        position: relative;
        top: 20px;
        right: 20px;
    }

    img.right_1{
        width: 100px;
        position: relative;
        left: 10px;
        transform: rotate(-35deg);
    }

    h3.codesamp{
        width: 200px;
        margin-left: 20px;
        line-height: 30px;
    }

    h3.jointxt{
        position: relative;
        top: 20px;
        left:30px;
    }

    h3.jointxt1{
        position: relative;
        top: 50px;
        left: 50px;
    }

    img.right_2{
        position: relative;
        width: 90px;
        left: 500px;
        bottom: 120px;
        transform: rotate(15deg);
    }

    body .second_flex h2{
        position: relative;
        color: black;
        font-size: 30px;
        top: 200px;
        right: 50px;
    }

    body h1.maintxt{
        font-size: 64px;
    }

    body div.auth_code{
        min-width: 30%;
        min-height: 240px;
    }

    body .auth_code h2{
        font-size: 30px;
        line-height: 25px;
        width: 300px;
    }
    body .auth_code p{
        font-size: 24px;
        line-height: 25px;
    }
    body div.nums h4{
        font-size: 20px;
    }

    body div.nums{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    body .steal{
        padding: 50px;
        margin-left: 40px;
        display: block;     
    }

    body div.dev_test{
        width: 0;
        height: 0;
        overflow: hidden;
    }

    body div.fourth_flex{
        margin: 0;
    }
}