{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
{% block content %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://api.fontshare.com/v2/css?f[]=hind@500&f[]=pilcrow-rounded@600&display=swap" rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <link  href="{% static 'css/login.css' %}" rel="stylesheet"/>
  </head>
  <body>
    
  
    <div class="totalcontainer">
      <div class="container">
        <h3>
          <span style="color: #1e0b94">Welcome back to</span>
          <span style="color: #1e0b94">auth</span
          ><span style="color: #00b4d8">Wiki</span>
        </h3>
        <div class="formcontainer">
          <form method="post">
              {% csrf_token %}
              {{ form.as_p}}
            <!-- 
            <label for="Username">Username</label><br />
            <input type="text"
              placeholder=" Input Username"
              id="fname"
              name="fname"
              style="height: 45px; border-radius: 5px;"
            /><br />
            <br />
            <label for=" Password">Password</label><br />
            <input
              type="password"
              placeholder="Input Password"
              id="lname"
              name="lname"
              style="height: 45px; border-radius: 5px"
            /><br /><br />
            -->
            <button type="submit" class="registerbtn">Continue</button>
            <p><h4>Forgot your password! Click <a href="{% url 'password_change' %}">here</a></h4></p>
          </form>
        </div>
  
        <h2 style="text-align: center">OR</h2>
  
        <p style="text-align: center; font-size: 20px">Sign in using</p>
        <div class="imagecontainer">
          <a href="https://www.google.com/">
            <img
              src="{% static 'images/googlelogo.png' %}"
              alt="googlelogo"
              style="max-height: 40px; "
          /></a>
          <a href="https://github.com/"
            ><img
              src="{% static 'images/githublogo.png' %}"
              alt="githublogo"
              style="max-height: 40px; "
          /></a>
        </div>
        <p style="text-align: center; font-size: 20px">
          Dont have any account?
          <a href="{% url 'signup' %}" style="text-decoration: none"
            ><span style="color: #1e0b94"> Sign Up</span></a
          >
        </p>
      </div>
    </div>
   <script src="{% static 'login.js' %}" defer></script>
{% endblock content %}
  </body>
</html>
