{% extends 'base_layout.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<main>
  <section class="form-section">
    <h3 style="text-align: center; margin-top: 20px;">
      Change Your Password
    </h3>
    {% if form.errors %}
    {% for key, value in form.errors.items %}
    <strong style="text-align: center; color:red">{{ value }}</strong>
    {% endfor %}
    {% endif %}
    <form method="POST" style="margin-top:-1px">
      {% csrf_token %}
      <label class="small mb-1" for="id_old_password">Old Password</label>
      <input type="password" name="old_password" autocomplete="new-password" class="form-control" required
        id="id_old_password" placeholder="Enter Old Password" />
      <label class="small mb-1" for="id_new_password1">New Password</label>
      <input type="password" name="new_password1" autocomplete="new-password" class="form-control" required
        id="id_new_password1" placeholder="Enter New Password" />
      <label class="small mb-1" for="id_new_password2">New Password Confirmation</label>
      <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2"
        class="form-control" placeholder="Confirm New Password" />
      <input type="submit" id="reset" value="Update Password" />
    </form>
  </section>
</main>
{% endblock %}