<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authwiki</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://api.fontshare.com/v2/css?f[]=hind@500&f[]=pilcrow-rounded@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  {% if user.is_authenticated %}
  <nav>
    <div class="logo"><span>auth</span>Wiki</div>
        <div class="search-bar">
          <form method=POST action="{% url 'search-results' %}" style="display:flex">
            {% csrf_token %}
           <input type="search" name="searched" id="" placeholder="search">
           <button type="submit" value=""><i class="fa fa-search" style="float: right"></i></button>
         </form>
        </div>
        <div class="menu-container">
            <ul> 
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'library' %}">Library</a></li>
              <li><a href="{% url 'contact' %}">Contact us</a></li>
              <li><a href="{% url 'documentation' %}">Documentation</a></li>
            </ul>
        </div>
          <h2 style="color:red"> Hi {{ user.username }}!</h2>
          <a href="{% url 'logout' %}" class="get-started">Log out</a>
          
           
          <div class="hamburger-menu">
            <img src="{% static 'images/icon.svg' %}" alt="">
        </div>
    </nav>
    <hr>
                           
  {% else %}
  <nav>
    <div class="logo"><span>auth</span>Wiki</div>
     <div class="search-bar">
      <form method=POST action="{% url 'search-results' %}" style="display:flex">
        {% csrf_token %}
       <input type="search" name="searched" id="" placeholder="search">
       <button type="submit" value=""><i class="fa fa-search" style="float: right"></i></button>
     </form>
      </div>
     <div class="menu-container">
         <ul> 
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'library' %}">Library</a></li>
            <li><a href="{% url 'contact0' %}">Contact us</a></li>
            <li><a href="{% url 'documentation0' %}">Documentation</a></li>
         </ul>
      </div>
        <a href="{% url 'signup' %}" class="get-started">Get Started</a>
        <a href="{% url 'login' %}">Log In</a>
        <div class="hamburger-menu">
          <img src="{% static 'images/icon.svg' %}" alt="">
      </div>
  </nav>
  <hr>
  {% endif %}
 
    <main>
        {% block content %}
        {% endblock content %}
    </main>
<script src="{% static 'signup.js' %}" defer></script>
</body>
</html







