<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Base</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://api.fontshare.com/v2/css?f[]=hind@500&f[]=pilcrow-rounded@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
  {% if user.is_authenticated %}
  <nav>
    <div class="logo"><span>auth</span>Wiki</div>
        <div class="search-bar">
            <input type="search" name="" id="" placeholder="search">
            <img src="{% static 'images/magnifying-glass-solid(1).svg' %}" alt="" width="15px">
        </div>
        <div class="menu-container">
            <ul> 
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'library' %}">Library</a></li>
              <li><a href="{% url 'contact' %}">Contact us</a></li>
              <li><a href="{% url 'documentation' %}">Documentation</a></li>
            </ul>
        </div>
          <a href="{% url 'signup' %}" class="get-started">Get Started</a>
          <h2 style="color:red"> Hi {{ user.username }}!</h2>
           <p><a href="{% url 'logout' %}">Log Out</a></p>
          <div class="hamburger-menu">
            <img src="{% static 'images/icon.svg' %}" alt="">
        </div>
        {% comment %} <script src="{% static 'signup.js' %}" defer></script> {% endcomment %}
    </nav>
    <hr>
                           
  {% else %}
  <nav>
    <div class="logo"><span>auth</span>Wiki</div>
     <div class="search-bar">
        <input type="search" name="" id="" placeholder="search">
        <img src="{% static 'images/magnifying-glass-solid(1).svg' %}" alt="" width="15px">
      </div>
     <div class="menu-container">
         <ul> 
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'library' %}">Library</a></li>
            <li><a href="{% url 'contact0' %}">Contact us</a></li>
            <li><a href="{% url 'documentation0' %}">Documentation</a></li>
         </ul>
      </div>
        <a href="{% url 'signup' %}" class="get-started">Get Started</a>
        <a href="{% url 'login' %}">Log In</a>
        <div class="hamburger-menu">
          <img src="{% static 'images/icon.svg' %}" alt="">
      </div>
      {% comment %} <script src="{% static 'signup.js' %}" defer></script> {% endcomment %}
  </nav>
  <hr>
  {% endif %}
 
    <main>
        {% block content %}
        {% endblock content %}
    </main>
<script src="{% static 'signup.js' %}" defer></script>
</body>
</html







