<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Library</title>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://api.fontshare.com/v2/css?f[]=hind@500&f[]=pilcrow-rounded@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>

  <!-- nav section starts -->

  <!-- <nav class="nav-section">
        <img src="images/authWiki.png" alt="authWiki" width="100px">
        <div class="search-bar">
            <input type="search" name="" id="" placeholder="search">
            <img src="images/magnifying-glass-solid(1).svg" alt="" width="15px">
        </div>
        <div class="menu-container">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="library.html">Library</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Documentation</a></li>
            </ul>
        </div>
        <a href="" class="get-started">Get Started</a>
    </nav>

  <hr> -->

  <nav>
        <img src="images/authWiki.png" alt="authWiki" width="100px">
        <div class="search-bar">
            <input type="search" name="" id="" placeholder="search">
            <img src="images/magnifying-glass-solid(1).svg" alt="" width="15px">
        </div>
        <div class="menu-container">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="library.html">Library</a></li>
              <li><a href="contact.html">Contact us</a></li>
              <li><a href="documentation.html">Documentation</a></li>
            </ul>
        </div>
          <a href="" class="get-started">Get Started</a>
    </nav>
<hr>
  <!--library content starts
  This is a dummy data  -->

  <div class="card2">
  <div class="card-body">
    <h1>TITLE OF THE CODE</h1>
    <h3>HTTP Bearer authentication strategy for AuthWiki.</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam lacus suspendisse faucibus interdum posuere lorem ipsum. Sit amet consectetur adipiscing elit pellentesque. Penatibus et magnis dis parturient montes. Eu scelerisque felis imperdiet proin fermentum. Id nibh tortor id aliquet lectus proin nibh nisl condimentum. Eu facilisis sed odio morbi quis. Ut etiam sit amet nisl purus in mollis nunc. Consectetur adipiscing elit duis tristique sollicitudin nibh sit amet commodo. Ipsum consequat nisl vel pretium lectus quam id leo. Sed vulputate mi sit amet mauris commodo quis imperdiet massa.
    </p>

    <p>
      At augue eget arcu dictum varius duis at consectetur. Enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Cursus turpis massa tincidunt dui ut ornare lectus sit. Enim ut tellus elementum sagittis. Leo urna molestie at elementum eu. Dui sapien eget mi proin sed libero enim sed faucibus. Ut sem nulla pharetra diam sit amet. Maecenas pharetra convallis posuere morbi leo. Nunc sed augue lacus viverra vitae congue eu consequat. Sed odio morbi quis commodo odio aenean. Morbi leo urna molestie at elementum. Nulla porttitor massa id neque aliquam. Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis.
    </p>

    <p>
      Scelerisque eleifend donec pretium vulputate sapien. Elit eget gravida cum sociis natoque penatibus et magnis dis. A arcu cursus vitae congue. Viverra orci sagittis eu volutpat odio. At augue eget arcu dictum varius duis. Tincidunt id aliquet risus feugiat. Sem fringilla ut morbi tincidunt augue interdum velit euismod. Aliquet nibh praesent tristique magna sit amet purus. Nisl purus in mollis nunc sed id semper risus in. Nulla aliquet porttitor lacus luctus accumsan tortor posuere. Interdum varius sit amet mattis. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Vitae tortor condimentum lacinia quis vel eros donec ac. Viverra accumsan in nisl nisi scelerisque eu ultrices. Arcu bibendum at varius vel pharetra. Venenatis tellus in metus vulputate. Nunc scelerisque viverra mauris in aliquam sem. Imperdiet massa tincidunt nunc pulvinar.
    </p>

    <div class="icon">
        <button type="button" class="library-button">Download</button>
        <button type="button" class="library-button">View example</button>
        <p class="favorite"><span class="material-symbols-outlined">favorite</span>1.2k likes</p>
        <p class="comment"><span class="material-symbols-outlined">comment</span>800 comments</p>
        <p class="content_copy"><span class="material-symbols-outlined">content_copy</span>500 viverra eget</p>
    </div>



  </div>
  </div>

</body>
</html>
