{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  {% block content %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/SignUp.css' %}">
    <link href="https://api.fontshare.com/v2/css?f[]=hind@500&f[]=pilcrow-rounded@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Sign Up</title>
</head>
<body> 
  
    <section>
    <div class="box">
        <div class="text-">
            <h3 class="text">
                <span style="color: #1e0b94">Let's get you started with</span>
                <span style="color: #1e0b94">auth</span
                ><span style="color: #00b4d8">Wiki</span>
              </h3>
        </div>
        
        <div class="form">
            <!--  <form action="/users/signup/"-->
            <form method="post"   class="contact-forms">
                {% csrf_token %}
                {{ form.as_p }}
                

                <!--  
                <label for="Email">
                    Email <br>
                    <input type="email" placeholder="Email" required>
                </label><br>
                <label for="Username">
                    Create username <br>
                    <input type="text" placeholder="Username" required>
                </label><br>
                <label for="Create password">
                    Create Password<br>
                    <input type="password" pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Enter Password" required>
                </label><br>
                <label for="Confirm password">
                    Confirm Password <br>
                    <input type="password" pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Enter Password" required>
                </label><br>
                -->
                 <button class="btn">Continue</button>
            </form>      
    
        </div>
    </div>
</section>
<h2 style="text-align: center">OR</h2>
  
        <p style="text-align: center; font-size: 20px">Sign up using</p>
        <div class="iconn">
          <a href="https://www.google.com/">
            <img
              src="{% static 'images/googlelogo.png' %}"
              alt="googlelogo"
              style="max-height: 40px; "
          /></a>
          <a href="https://github.com/"
            ><img
                src="{% static 'images/githublogo.png' %}"
              alt="githublogo"
              style="max-height: 40px;"
          /></a>
        </div>
        <p style="text-align: center; font-size: 20px">
          Already have an account?
          <a href="{% url 'login' %}" style="text-decoration: none"
            ><span style="color: #1e0b94"> Sign In</span></a
          >
        </p>
{% endblock content %}
</body>
</html>