{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
{% block content %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Guntur&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'css/unauthcontact.css' %}">
    <script src="script.js" defer></script>
    <link href="https://api.fontshare.com/v2/css?f[]=hind@500&f[]=pilcrow-rounded@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6e0bdeca38.js" crossorigin="anonymous"></script>
    <title>project nav</title>
</head>
<body>
 

    <section id="main">
        <div class="main-text">
            <h1 id="contact">How can we <span>help you</span>?</h1>
            <h4>Explore our Help Desk to learn more on how Auth_Wiki
                can make your project easier and productive
            </h4>
        </div>
        <div class="textareas">
            <form>
                {% csrf_token %}
                <label for="enquiries">Type of enquiry</label>
                <select id="enquiries">
                    <option value="" selected disabled hidden>Select an Error Type</option>
                    <option value="Code Error">Code Error</option>
                    <option value="Code Error">Other...</option>
                </select>
                <label for="email">
                    <input type="email" placeholder="xyz@gmail.com" required>
                </label>
                <label for="help text">
                    <textarea id="multiline" placeholder="What can we help you with?" rows="12" cols="35"></textarea>
                </label>
                <input type="submit" value="Continue">
            </form>
        </div>
    </section>

    <section id="other">
        <h2>Looking for something in particular?</h2>

        <div class="boxes">
            <div class="box-one">
                <h2><a href="{% url 'library' %}">Libraries</a></h2>
                <h5><a href="{% url 'library' %}">See multiple authentication codes</a></h5>
           </div>
           
        <div class="box-two">
            <h2><a href="{% url 'documentation0' %}">Documentation</a></h2>
            <h5><a href="{% url 'documentation0' %}">See tutorials on how it works</a></h5>
        </div>
        </div>
    </section> 
{% endblock content %}    
</body>
</html> 