@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
/* 
 background: #4434A6;
 background: linear-gradient(0deg, #1E0B94, #1E0B94),
linear-gradient(0deg, #00B4D8, #00B4D8);
*/
/* Ayomide Daniel Ayeni */
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.html{
    font-size: 62.5%;
}
body{
    font-family: 'Hind', sans-serif;
    font-family: 'Pilcrow Rounded', sans-serif;
}
/* nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    width: 100%;
    background-color: white;
    font-family: 'Hind', sans-serif;
    border-bottom: 1px solid #4434A6;
    z-index: 2;
} */
.logo {
    display: inline;
    color:#00B4D8;
    font-family: 'Pilcrow Rounded', sans-serif;
    margin-left: 30px;
    font-size: 25px;
}
.logo > span{
    color:#1E0B94;
    font-size: 25px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 2em;
    color: #353434;
    align-items: center;
    padding-right: 80px;
}
input{
    border: none;
    width: 100%;
    outline: none; 
}
li{
    padding: 0.2em;
    border-width: 0 0 6px 0 ;
    border-style: solid;
    border-color: white;
}
li:hover{
    border-color: #4434A6;
    /* padding-bottom: 0.1em; */
    cursor: pointer;   
}
ul > li > a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #000;
}
.menu-container{
    display: flex;
    flex-direction: row;
}
.hamburger-menu{
    display: none;
}
.button{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #1E0B94;
    margin-right: 40px;
    border-radius: 8px;
}
.button > a{
    text-decoration: none;
    color: #FFFFFF;
}
.button > a:hover{
    text-decoration: none;
}
.button:hover{
    background-color: #4434A6;
}
@media screen and (max-width: 900px){
    .search-bar{
        display: none;
    }
    nav .button{
        margin-left: 25px;
        text-align: center;
    }
    .hamburger-menu{
        display: block;
    }
    nav ul{
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        right: 1em;
        padding: 1.2em 0;
        border-radius: 0.3em;
        box-shadow: 0 0 4px black;
        width: 11em;
        height: 100%;
        background-color: #FFFFFF;
    }
    .show-ul{
        display: flex;
    }
    li{
        width: 100%;
        padding: 0.5em 1.2em;
        border: none;
    }
    li:hover{
        background: #CAC5EB;
    }
}
.section-1, .section-2, .section-3, .section-4{
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: center;
    width: 95%;
    margin: auto;
}
.section-1{
    padding-top: 100px;
}
.left-part1{
    width: 90%;
}
.head{
    color: #1E0B94;
    font-size: 50px;
    margin-bottom: 18px;
}
p{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}
p > span{
    color: #1E0B94;
}
.right-part1 img{
    width: 100%;
}
.buttons{
    padding-top: 20px;
}
.button-one{
    display: none;
}
.headd{
    color: #1E0B94;
    font-size: 50px;
    margin-bottom: 18px;
}
.button-two{
    background-color: #FFFFFF;
    padding: 15px 70px;
    border: 1px solid #1E0B94;
    border-radius: 0.5em;
    font-size: 16px;
}
.button-two > a{
    color: #1E0B94;
}
.button-two:hover a{
    color: #FFFFFF;
}
.button-two:hover{
    background-color: #1E0B94;
}
.bottom-text{
    font-size: 20px;
}
.bottom-text > span {
    display: inline;
    color:#1E0B94;
    font-family: 'Pilcrow Rounded', sans-serif;
    font-size: 25px;
}
.bottom-text > span > span{
    color:#00B4D8;
    font-size: 25px;
}

.section-2{
    height: 80vh;
}
.left-part-2{
    width: 60%;
}
.head > span{
    color: #00B4D8;
}
.other-text{
    font-size: 30px;
    line-height: 1.3em;
}
.other-text > span{
    color: #1E0B94;
}
.other-text > span > span{
    color: #00B4D8;
}
.right-part-2 img{
    width: 80%;
    height: 400px;
    margin-left: 10px;
}


.section-3{
    height: 80vh;
}
.left-part-3 img{
    width: 80%;
    height: 400px;
}
.right-part-3{
    width: 60%;
}
.section-4{
    height: 80vh;
}
.left-part-4{
    width: 60%;
}
.right-part-4 img{
    height: 450px;
    width: 80%;
}

@media screen and (max-width:900px) {
    .section-1{
        flex-direction: column;
        padding-top: 50px;
    }
    .left-part1{
        width: 85%;
        margin: auto;
        padding-top: 70px;
    }
    .head{
        font-size: 35px;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .right-part1{
        width: 85%;
        margin: auto;
        padding-top: 35px;
    }
    .right-part1 img{
        height: 250px;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
    }
    .section-2{
        padding-top: 120px;
        flex-direction: column;
    }
    .headd{
        font-size: 35px;
        margin-top: 20px;
    }
    .left-part-2{
        width: 85%;
        margin: auto;
    }
    .other-text{
        font-size: 20px;
    }
    .right-part-2 img{
        height: 250px;
    }
    .section-3{
        margin-top: 150px;
        flex-direction: column-reverse;
    }
    .left-part-3 img{
        height: 250px;
    }
    .right-part-3{
        width: 85%;
        margin: auto;
    }
    .section-4{
        flex-direction: column;
        padding-top: 100px;
    }
    .left-part-4{
        width: 85%;
        margin: auto;
    }
    .right-part-4 img{
        height: 250px;
    }
    .div_king{
        padding-top: 100px;
        width: 85%;
        margin: auto;
    }
} 
/* Ayomide's code stops here*/

/*Tablet Device  and mobile*/

/*Onwubiko Okem Precious*/

.first_flex h2{
    color: #1E0B94;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Hind', sans-serif;
    margin: 10px auto;
}

.first_flex{
    display: flex;
    flex-direction: column;
}
.sub_first_flex{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.first_icon{
    width: 120px;
    height:91.92px;
    position: relative;
    bottom: 50px;
}

.hide{
    display: none;
}

.second_icon{
    width: 90px;
    height: 90px;
}

.third_icon{
    width: 98px;
    height: 98px;
    position: relative;
    bottom: 20px;
}

.jointxt{
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
    line-height: 16.8px;
    margin-bottom: 20px;
}
span.auth{
    color: #1E0B94;
    font-style: normal;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
}

span.wiki{
    color: #00B4D8;
    font-style: normal;
    font-weight: 500;
    font-family: 'Hind', sans-serif;    
}

.codesamp{
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
    text-align: center;
    width: 120px;
    word-wrap: break-word;  
}

.right_1{
   /* position: relative;
    left: 110px;
    bottom: 10px;*/
    display: none;
}

.right_2{
   /* position: relative;
    left: 70px;*/
    display: none;
}

.right4{
    position: relative;
    left: 110px;
    bottom: 10px;
}

.right5{
    position: relative;
    right: 60px;
    bottom: 140px;

}

.fourth_icon{
    width: 130px;
    height: 130px;
    position: relative;
    left: 130px;
}

div.adj{
    margin-top: 60px;
}

div.enjoy{
    display: flex;
    justify-content: center;
}

.second_flex h2{
    text-align: center;
    color: #4434A6;
    margin-top: 5px;
    font-weight: 600 ;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    line-height: 24px;
}

footer{
    width: 100%;
    background-color: #1E0B94;
    padding-top: 40px;
    padding-bottom: 20px;
    z-index: 2;
}
footer > h2{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
}

.third_flex{
    margin: 60px auto;
    display: flex;
    flex-direction: column; 
}

.maintxt{
    text-align: center;
    color: #1E0B94;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    font-family: 'Hind', sans-serif;
    margin-bottom: 10px;

}

.auth_code{
    width: 252px;
    height: 140px;
    border: 2px;
    border-style: solid;
    border-color: grey;
    margin-left: 20px;
    padding-right: 10px;
}

.auth_codes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.ico{
    width: 10px;
    height: 10px;
}

.nums{
    display: flex;
    flex-direction: row;
    align-items:flex-start ;
    justify-content: center;
    gap: 10px;
}

.auth_codes h2{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    color: #1E0B94;
    margin: 10px 0px 20px 10px;
    font-family: 'Hind', sans-serif;
    width: 158px;
}

.auth_codes p{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #0C0B0B;
    font-family: 'Hind', sans-serif;
    width: 170px;
    margin: 0px 0px 20px 10px;
}

.auth_codes h4{

    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    color: #0C0B0B;
    font-family: 'Hind', sans-serif;
}

.down1{
    position: relative;
    left: 7px;
    top: 13px;   
}

.thumb1{
    position: relative;
    left: 7px;
    top: 15px;
}

.thumb2{
    position: relative;
    top: 17px;
    left: 7px;
}

.fourth_flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 100px;

}

.dev_test{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 0 auto;
}
.dev_test img{
    padding: 10px;
}

.dev_text1,
.dev_text2{
    width: 151px;
    height: 144px;
    font-size: 12px;
    padding: 10px;
    text-align: justify;
}

.fifth_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.bolded{
    font-weight: 600;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;

}
.steal{
    display: none;}

@media(min-width: 1360px){

    .first_flex{
        margin:  30px auto;
    }
    
    body .first_flex h2{
        font-size: 55px;
        font-weight: 700;
        margin-left: 400px;
    }

    .sub_first_flex .first_icon,
    .sub_first_flex .second_icon,
    .sub_first_flex .third_icon,
    .second_flex .fourth_icon{
        width:150px;
        height: 150px;
    }

    .div_king{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        right: 90px;
    }

    

    .enjoy{
        position: relative;
        top: 200px;
        right: 60px;
}

    .sub_first_flex h3{
        font-size: 32px;
    }

    .third_icon{
        position: relative;
        left: 60px;
        top: 40px;
    }

    .first_icon{
        position: relative;
        top: 20px;
        left: 20px;
    }

    .fourth_icon{
        position: relative;
        left: 10px;
    }

    img.right_1{
        position: relative;
        left: 180px;
        bottom: 50px;
        transform: rotate(10deg);
        display: block;
    }

    .hide{
        display: block;
        position: relative;
        left: 260px;
        bottom: 210px;
        transform: rotate(-10deg);
    }

    img.right_2{
        position: relative;
        bottom: 230px;
        left: 230px;
        display: block;
    }

    h3.codesamp{
        width: 300px;
        font-size: 22px;
        margin-left: 20px;
        line-height: 40px;
        font-weight: 600;
    }

    h3.jointxt{
        position: relative;
        top: 160px;
        left:30px;
        font-size: 22px;
        font-weight: 600;
    }

    h3.jointxt1{
        position: relative;
        top: 50px;
        left: 80px;
        font-weight: 600;
    }    

    body .second_flex h2{
        position: relative;
        color: black;
        font-size: 22px;
        top: 220px;
        right: 50px;
        font-weight: 600;
    }

    body .second_flex{
        position: relative;
        left: 50px;
    }

    body h1.maintxt{
        font-size: 42px;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: left;
        margin-left: 120px;
    }

    body h1.main_txt{
        margin-bottom: 0;
    }

    body div.third_flex{
        margin-top: 0;
    }

    body div.auth_code{
        min-width: 30%;
        min-height: 240px;
    }
    

    body .auth_code h2{
        font-size: 30px;
        line-height: 25px;
        width: 350px;
        margin-bottom: 20px;
    }

    body .auth_code p{
        font-size: 24px;
        line-height: 35px;
        width: 300px;
    }

    body div.auth_codes::-webkit-scrollbar{
        display: none;
    }

    body div.auth_codes{
        margin-left: 105px;
        min-height: 237px;
        overflow-y: hidden;
    }


    body div.nums h4{
        font-size: 20px;
    }

    body div.nums{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    body .steal{
        padding: 50px;
        margin-left: 70px;
        display: block;     
    }

    body div.dev_test{
        width: 0;
        height: 0;
        overflow: hidden;
    }

    body img.right4,
    body img.right5{
        display: none;
    } 

    body div.fourth_flex{
        margin: 0;
    }

    body div.adj{
        position: relative;
        left: 100px;
        top: 100px;
    }

   
    body .join_text{
        position: relative;
        bottom: 150px;
    }

    body .second_icon{
        position: relative;
        left: 90px;

    }

    body .first_flex .thisdiv{
        position: relative;
        bottom: 20px;
        left: 100px;
    }

    body .div_king .third_flex{
        margin-top: 0;
        margin-bottom: 150px;
    }

    body .auth_code img.ico.thumb1,
    body .auth_code img.ico.down1{
        width: 25px;
        height: 25px;
        position: relative;
        top: 20px;
    }
    body .auth_code .nums{
        margin-left: 0px;
    }
    body .auth_code img.ico.thumb2{
        position: relative;
        top: 25px;
        width: 25px;
        height: 25px;
    }

    body div.nums{
        margin-top: 50px;
    }
}


/*@media(min-width: 425px){
    .thisdiv{
        margin-left: 20px;
    }
    .first_flex{
        margin-bottom: 20px;
    }
    .adj{
        margin-top: 50px;
        margin-right: 10px;
    }
    .adj .right2{
        position: relative;
        left: 20px;
    }
}
@media(min-width: 768px){
    .first_flex{
        width: 100vw;
    }
    .sub_first_flex{
        margin: 0 auto;
    }
    .sub_first_flex img.first_icon,
    .sub_first_flex img.second_icon,
    .sub_first_flex img.third_icon{
        width: 80%;
        height: 60%;
    }
     .fourth_icon{
        width: 40%;
        height: 20%;
     }
    .right_1, .right_2{
        width: 20%;
        height: 10%;
    }
    .right_1{
        position: relative;
        top: 50px;
    }
    .right_2{
        position: relative;
        left: 150px;
        width: 48.6px;
        height: 48.6px;
    }
    .adj{
        margin-top: 100px;
        margin-right: 50px;
    }
*/