/* 
 background: #4434A6;
 background: linear-gradient(0deg, #1E0B94, #1E0B94),
linear-gradient(0deg, #00B4D8, #00B4D8);
*/
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.html{
    font-size: 62.5%;
}
body{
    font-family: 'Hind', sans-serif;
    font-family: 'Pilcrow Rounded', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    font-family: 'Hind', sans-serif;
    border-bottom: 1px solid #4434A6;
}
.logo {
    color:#00B4D8;
    font-family: 'Pilcrow Rounded', sans-serif;
    margin-left: 30px;
    font-size: 25px;
}
.logo > span{
    color:#1E0B94;
    font-size: 25px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 2em;
    color: #353434;
    align-items: center;
    padding-right: 100px;
}
input{
    border: none;
    width: 100%;
    outline: none; 
}
li{
    padding: 0.2em;
    border-width: 0 0 6px 0 ;
    border-style: solid;
    border-color: white;
}
li:hover{
    border-color: #4434A6;
    /* padding-bottom: 0.1em; */
    cursor: pointer;   
}
a{
    text-decoration: none;
    color: #000;
}
.menu-container{
    display: flex;
    flex-direction: row;
}
#main{
    width: 40%;
    margin: auto;
    padding-top: 30px;
}
h1{
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
}
h1 > span{
    color: #4434A6;
}
h4{
    text-align: center;
    width: 80%;
    margin: auto;
}
form{
    margin: 30px 0;
}
input[type=text], input[type=email], textarea, select{
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    border: 2px solid #aaa;
    padding: 12px 20px;
    margin: 7px 0;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus, select:focus{
    border: 2px solid #2f2284;
}
textarea:hover{
    border: 2px solid #4434A6;
}
input[type=submit]{
    border-radius: 8px;
    color: #FFFFFF;
    background-color: #4434A6;
    padding: 14px 18px;
}
input[type=submit]:hover{
    background-color: #2f2284;
}
#other{
    width: 40%;
    margin: auto;
    padding: 40px 0;
}
h2{
    text-align: center;
    padding-bottom: 20px;
}
.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box-one, .box-two{
    width: 40%;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 40px 20px;
    transition: .3s ease;
    box-shadow: 15px #4434A6;
}
.box-one:hover, .box-two:hover{
    transform: translateY(-15px);
}
