@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
/* 
 background: #4434A6;
 background: linear-gradient(0deg, #1E0B94, #1E0B94),
linear-gradient(0deg, #00B4D8, #00B4D8);
*/
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.html{
    font-size: 62.5%;
}
body{
    font-family: 'Hind', sans-serif;
    font-family: 'Pilcrow Rounded', sans-serif;
}
/*nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    top: 0;
    position: fixed;
    z-index: 2;
    padding: 0.5em 1em;
    font-family: 'Hind', sans-serif;
    border-bottom: 1px solid #4434A6;
}*/
.logo {
    color:#00B4D8;
    font-family: 'Pilcrow Rounded', sans-serif;
    margin-left: 30px;
    font-size: 25px;
}
.logo > span{
    color:#1E0B94;
    font-size: 25px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 2em;
    color: #353434;
    align-items: center;
    padding-right: 80px;
}
input{
    border: none;
    width: 100%;
    outline: none; 
}
li{
    padding: 0.2em;
    border-width: 0 0 6px 0 ;
    border-style: solid;
    border-color: white;
}
li:hover{
    border-color: #4434A6;
    /* padding-bottom: 0.1em; */
    cursor: pointer;   
}
ul > li > a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #000;
}
.menu-container{
    display: flex;
    flex-direction: row;
}
.hamburger-menu{
    display: none;
}
.button{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #1E0B94;
    margin-right: 40px;
    border-radius: 8px;
}
.button > a{
    text-decoration: none;
    color: #FFFFFF;
}
.button > a:hover{
    text-decoration: none;
}
.button:hover{
    background-color: #4434A6;
}
.viewExample{
    border: 2px solid #1E0B94;
    color: #0a0431;
    padding: 8px 20px;
    border-radius: 8px;
}
.viewExample:hover{
    border: 2px solid #1E0B94;
    background-color: #1E0B94;
    color: #FFFFFF;
}
section{
  padding-top: 70px;
  width: 85%;
  margin: auto;
}
@media screen and (max-width: 900px){
    .search-bar{
        display: none;
    }
    nav .button{
        margin-left: 25px;
        text-align: center;
    }
    .hamburger-menu{
        display: block;
    }
    nav ul{
        display: none;
        flex-direction: column;
        position: fixed;
        align-items: flex-start;
        right: 1em;
        padding: 1.2em 0;
        border-radius: 0.3em;
        box-shadow: 0 0 4px black;
        width: 11em;
        height: 100%;
        background-color: #FFFFFF;
    }
    .show-ul{
        display: flex;
    }
    li{
        width: 100%;
        padding: 0.5em 1.2em;
        border: none;
    }
    li:hover{
        background: #CAC5EB;
    }
}
.httpBearer {
    font-weight: 500;
    color: #0c0b0b;
  }
h3 {
    font-size: 30px;
    padding-top: 25px;
  }
h2{
  text-align: center;
  font-size: 35px;
  color: #1E0B94;
}
.documentation {
    width: 70%;
  }
p{
  margin-top: 10px;
  font-weight: 400;
  line-height: 1.2rem;
}
.buttons{
    font-family: "Hind";
    font-weight: 400;
    width: 40%;
}
.download {
    padding: 12px 20px;
    background: #1e0b94;
    border-radius: 8px;
    margin-right: 20px;
    color: white;
    border: none;
}
.download:hover {
    background-color: #4434a6;
}
.download:focus {
    background-color: #0a0431;
}
.download:disabled {
    background-color: #5d5c5c;
}
.icons{
  display: flex;
  align-items: center;
  width: 40%;
}
.icons i{
  margin-right: 15px;
}
.bottom-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}
@media screen and (max-width:900px){
    .documentation{
        width: 100%;
    }
}
@media screen and (max-width:900px){
    .viewExample{
        margin-top: 5px;
    }
}