{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% block content %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Library</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://api.fontshare.com/v2/css?f[]=hind@500&f[]=pilcrow-rounded@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/library.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>

  <!--   }   library content starts This is a dummy data. -->
  {% for Authwiki in Authwiki %}
  <div class="card"> &middot;
    <div class="card"><span>{{ Authwiki.name }}</span> &middot;
  <div class="card-body">
    <h5><a href="library2"><span>{{ Authwiki.name }}</span></a></h5>
    <p><span>{{ Authwiki.description }}</span> ............<a href='ll'>read more</a></p>
    <div class="icon">
        <p class="download"><span class="material-symbols-outlined">download</span>0</p>
        <p class="like"><span class="material-symbols-outlined">{{ Authwiki.upvote }}thumb_up</span>0</p>
        <p class="dislike"><span class="material-symbols-outlined">thumb_down</span>0</p>
    </div>
  </div>
  </div>
  <span class="text-muted">by {{ Authwiki.author }} |{{ Authwiki.created_date }}</span>
  <div class="card"><span>{{ Authwiki.body }}</span> &middot;

  {% endfor %}
{% endblock content %}
</body>
</html>
